<div class="container">
  <div class="row">
    <label> Enter the registered Email ID </label>
    <input
      type="email"
      class="form-control"
      id="email"
      required
      ngModel
      name="email"
      #email="ngModel"
      email
      placeholder="Email Address"
    />
    <!-- <div *ngIf="email.touched">
      <div *ngIf="!email.valid" class="alert alert-danger">
        Email is not valid
      </div>
    </div> -->
  </div>
  <br />
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <button (click)="submit(email)" mat-stroked-button color="primary">
        Submit
      </button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <button (click)="cancel()" mat-stroked-button color="warn">
       Cancel
      </button>
    </div>
  </div>
</div>
